@page
@model WebApplication1.Pages.ROOMS11.CardsModel
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Room Kryvyi Rih | Catalog of Escape Rooms | Gift Cards</title>
</head>
<style>
body
{
    background: black;
}
.mainImg
{
    position: absolute;
    left: 100px;
    top: 10px;
    cursor: pointer;
}
.BookNowMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 550px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 160px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.BookNowMain:focus 
{
    outline: none;
}
.EscapeRoomsMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 335px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 205px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.EscapeRoomsMain:focus 
{
    outline: none;
}
.GroupsMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 195px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 130px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.GroupsMain:focus 
{
    outline: none;
}
.line1
{
    position: absolute;
    width: 99.9%;
    top: 100px;
    color: white;
}
.oth1
{
    text-decoration: none;
    position: absolute;
    right: 515px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth1:hover
{
    color: #FFC300;
}
.oth2
{
    text-decoration: none;
    position: absolute;
    right: 450px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth2:hover
{
    color: #FFC300;
}
.oth3
{
    text-decoration: none;
    position: absolute;
    right: 330px;
    top: 10px;
    color: gray;
    font-weight: bold;
    cursor: default;
}
.oth4
{
    text-decoration: none;
    position: absolute;
    right: 200px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth4:hover
{
    color: #FFC300;
}
.orangeBox
{
    background: #FFC300;
    width: 100%;
    height: 15%;
    position: absolute;
    top: 110px;
}
.txtTitle1
{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.txtTitle2
{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    justify-items: center;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.whiteDivInfo
{
    position: absolute;
    background: white;
    width: 100%;
    height: 300%;
    bottom: -2069px;
    font-family: sans-serif;
}
.txtMain1
{
    position: absolute;
    top: 35px;
    left: 200px;
}
.txtNoMain1
{
    position: absolute;
    top: 100px;
    left: 200px;
    font-size: 22px;
}
.txtNoMain11
{
    position: absolute;
    top: 180px;
    left: 200px;
    font-size: 22px;
}
.txtNoMain111
{
    position: absolute;
    top: 260px;
    left: 200px;
    font-size: 22px;
}
.txtMain2
{
    position: absolute;
    top: 330px;
    left: 200px;
}
.txtNoMain2
{
    position: absolute;
    top: 390px;
    left: 200px;
    font-size: 22px;
}
.txtMain3
{
    position: absolute;
    top: 980px;
    left: 200px;
}
.txtNoMain3
{
    position: absolute;
    top: 1050px;
    left: 200px;
    font-size: 22px;
}
.txtMain4
{
    position: absolute;
    top: 1190px;
    left: 200px;
}
.txtNoMain4
{
    position: absolute;
    top: 1250px;
    left: 200px;
    font-size: 22px;
}
</style>
<body>
    <!-- HEADER -->
    <div class="header1">
        <a asp-page="/Index">
            <img class="mainImg" style="width: 200px;" src="~/images/catalog of escape rooms.png" alt="Catalog of Escape Rooms">
        </a>
        <select class="BookNowMain" id="myBookNowMain">
            <option value="" disabled selected>BOOK NOW</option>
            <option value="kr1">Kryvyi Rih 1</option>
            <option value="kr2">Kryvyi Rih 2</option>
            <option value="prvt">PRIVATE ESCAPE ROOMS</option>
        </select>
        <select class="EscapeRoomsMain" id="myEscapeRoomsMain">
            <option value="" disabled selected>ESCAPE ROOMS</option>
            <!-- Rooms Here -->
        </select>
        <select class="GroupsMain" id="myGroupsMain">
            <option value="" disabled selected>GROUPS</option>
            <option value="gsPT">GROUPS & PARTIES</option>
            <option value="tmBG">TEAM BUILDING</option>
        </select>
        <a asp-page="/ROOMS11/QuestList" class="oth1">QUEST ROOM LIST</a>
        <a asp-page="/ROOMS11/FAQ" class="oth2">FAQ</a>
        <a class="oth3" disabled>GIFT CARDS</a>
        <a asp-page="/ROOMS11/Contact" class="oth4">CONTACT US</a>
    </div>
    <hr class="line1">
    <!-- Orange Title -->
    <div class="orangeBox"></div>
    <p class="txtTitle1">Escape Room Gift Cards</p>
    <!-- Main Info White -->
    <div class="whiteDivInfo">
        <h1 class="txtMain1">Escape Room Gift Card</h1>
        <p class="txtNoMain1">Need a unique gift card option for things to do in St. Louis? Our escape room gift cards are the perfect present for almost anyone! It’s the perfect gift for <br> family, friends, and employees for a gift for a birthday, Christmas, Hanukkah, job-well-done, and more!</p>
        <p class="txtNoMain11">In other words, escape rooms are a terrific form of fun and will give the person that you buy this for one of the most fun, exciting, and adrenaline pumping <br> hours in their lives!</p>
        <p class="txtNoMain111">Mastermind Room Escape is host to the #1 rated collection of escape rooms in St. Louis and St. Charles on Trip Advisor!</p>    
        <h1 class="txtMain2">How Does It Work?</h1>
        <p class="txtNoMain2">Our gift certificates are SO easy! If you want to give it to someone, just click on the “buy gift card” button below and fill out the required info. You'll receive a <br> gift voucher code to give to the recipient. When they're ready to play, they come back to www.mastermindroomescape.com, pick the tickets they want, and <br> at checkout, enter their gift voucher code in the “Have a promotion or voucher code?” field.</p>
    </div>
</body>
</html>