@page
@model WebApplication1.Pages.ROOMS11.ContactModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Room Kryvyi Rih | Catalog of Escape Rooms | Contact Us</title>
</head>
<style>
body
{
    background: black;
    overflow-y: scroll;
}
.mainImg
{
    position: absolute;
    left: 100px;
    top: 10px;
    cursor: pointer;
}
.BookNowMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 550px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 160px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.BookNowMain:focus 
{
    outline: none;
}
.EscapeRoomsMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 335px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 205px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.EscapeRoomsMain:focus 
{
    outline: none;
}
.GroupsMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 195px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 130px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.GroupsMain:focus 
{
    outline: none;
}
.line1
{
    position: absolute;
    width: 99.9%;
    top: 100px;
    color: white;
}
.oth1
{
    text-decoration: none;
    position: absolute;
    right: 515px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth1:hover
{
    color: #FFC300;
}
.oth2
{
    text-decoration: none;
    position: absolute;
    right: 450px;
    top: 10px;
    color: white;
    font-weight: bold;
    cursor: default;
}
.oth2:hover
{
    color: #FFC300;
}
.oth3
{
    text-decoration: none;
    position: absolute;
    right: 330px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth3:hover
{
    color: #FFC300;
}
.oth4
{
    text-decoration: none;
    position: absolute;
    right: 200px;
    top: 10px;
    color: gray;
    font-weight: bold;
    cursor: default;
}
.orangeBox
{
    background: #FFC300;
    width: 100%;
    height: 15%;
    position: absolute;
    top: 110px;
}
.txtTitle1
{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.txtTitle2
{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    justify-items: center;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.whiteDivInfo
{
    position: absolute;
    background: white;
    width: 100%;
    height: 300%;
    bottom: -2069px;
    font-family: sans-serif;
}
.txtMain1
{
    position: absolute;
    top: 35px;
    left: 200px;
}
.txtNoMain1
{
    position: absolute;
    top: 100px;
    left: 200px;
    font-size: 22px;
}
.wherePark
{
    position: absolute;
    width: 80%;
    height: 13%;
    background: white;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 1px solid gray;
}
.whereParkMain1txt
{
    margin: 40px;
    font-size: 28px;
}
.wherePark1txt
{
    margin: 40px;
    font-size: 22px;
}
.wherePark2txt
{
    margin: 40px;
}
.wherePark3txt
{
    margin: 40px;
}
.wherePark1
{
    position: absolute;
    width: 80%;
    height: 10%;
    background: white;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 1px solid gray;
}
.whereParkMain2txt
{
    margin: 40px;
    font-size: 28px;
}
.wherePark11txt
{
    margin: 40px;
    font-size: 22px;
}
.wherePark22txt
{
    margin: 40px;
}
.txtMain2
{
    position: absolute;
    top: 830px;
    left: 200px;
}
.txtNoMain2
{
    position: absolute;
    top: 900px;
    left: 200px;
    font-size: 22px;
}
.txtMain3
{
    position: absolute;
    top: 980px;
    left: 200px;
}
.txtNoMain3
{
    position: absolute;
    top: 1050px;
    left: 200px;
    font-size: 22px;
}
.txtMain4
{
    position: absolute;
    top: 1190px;
    left: 200px;
}
.txtNoMain4
{
    position: absolute;
    top: 1250px;
    left: 200px;
    font-size: 22px;
}
footer
{
    background: #505050;
    color: white;
    font-family: monospace;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: -200px;
    width: 97.9%;
    height: 15%;
    display: flex;     
    flex-direction: row;   
    justify-content: space-around;         
    align-items: center;
}
footer a 
{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
footer p 
{
    display: inline-block;    
    margin: 0;
}
</style>
<body>
    <!-- HEADER -->
    <div class="header1">
        <a asp-page="/Index">
            <img class="mainImg" style="width: 200px;" src="~/images/catalog of escape rooms.png" alt="Catalog of Escape Rooms">
        </a>
        <select class="BookNowMain" id="myBookNowMain">
            <option value="" disabled selected>BOOK NOW</option>
            <option value="kr1">Kryvyi Rih 1</option>
            <option value="kr2">Kryvyi Rih 2</option>
            <option value="prvt">PRIVATE ESCAPE ROOMS</option>
        </select>
        <select class="EscapeRoomsMain" id="myEscapeRoomsMain">
            <option value="" disabled selected>ESCAPE ROOMS</option>
            <!-- Rooms Here -->
        </select>
        <select class="GroupsMain" id="myGroupsMain">
            <option value="" disabled selected>GROUPS</option>
            <option value="gsPT">GROUPS & PARTIES</option>
            <option value="tmBG">TEAM BUILDING</option>
        </select>
        <a asp-page="/ROOMS11/QuestList" class="oth1">QUEST ROOM LIST</a>
        <a asp-page="/ROOMS11/FAQ" class="oth2">FAQ</a>
        <a asp-page="/ROOMS11/Cards" class="oth3">GIFT CARDS</a>
        <a class="oth4" disabled>CONTACT US</a>
    </div>
    <hr class="line1">
    <!-- Orange Title -->
    <div class="orangeBox"></div>
    <p class="txtTitle1">Contact Us</p>
    <p class="txtTitle2">Phone, address, email, and maps for all our St. Louis and St. Charles area location escape rooms.</p>
    <!-- Main Info White -->
    <div class="whiteDivInfo">
        <div class="wherePark">
            <h1 class="whereParkMain1txt">SASA NOMIR NE DAET</h1>
            <p class="wherePark1txt">I DONT GIVE A NUMBER</p>
            <p class="wherePark2txt">I DONT GIVE NUMBER AND LOCATION</p>
            <p class="wherePark3txt">el negro</p>
        </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <p>
            Escape Room Kryvyi Rih 1 <br>
            440 N 4th St #290 <br>
            St. Kr1, MO 63102 <br>
            Get Directions | Book Now <br>
            314-690-3356
        </p>
        <p>
            Escape Room Kryvyi Rih 2 <br>
            219 N 8th St #310 <br>
            St. Kr2, MO 32562 <br>
            Get Directions | Book Now <br>
            346-745-7269
        </p>
    </footer>
</body>
</html>