@page
@model WebApplication1.Pages.ROOMS11.CreateRoomsModel
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Room Kryvyi Rih | Catalog of Escape Rooms | Create New Room</title>
</head>
<style>

</style>
<body>

</body>
</html>