@page
@model WebApplication1.Pages.ROOMS11.CreateRoomModel
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Room Kryvyi Rih | Catalog of Escape Rooms | Create New Room</title>
</head>
<style>
body
{
    background: black;
}
.mainImg
{
    position: absolute;
    left: 100px;
    top: 10px;
    cursor: pointer;
}
.BookNowMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 550px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 160px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.BookNowMain:focus 
{
    outline: none;
}
.EscapeRoomsMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 335px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 205px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.EscapeRoomsMain:focus 
{
    outline: none;
}
.GroupsMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 195px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 130px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.GroupsMain:focus 
{
    outline: none;
}
.line1
{
    position: absolute;
    width: 99.9%;
    top: 100px;
    color: white;
}
.oth1
{
    text-decoration: none;
    position: absolute;
    right: 515px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth1:hover
{
    color: #FFC300;
}
.oth2
{
    text-decoration: none;
    position: absolute;
    right: 450px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth2:hover
{
    color: #FFC300;
}
.oth3
{
    text-decoration: none;
    position: absolute;
    right: 330px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth3:hover
{
    color: #FFC300;
}
.oth4
{
    text-decoration: none;
    position: absolute;
    right: 200px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth4:hover
{
    color: #FFC300;
}
.createRoomDIV1
{
    color: white;
    background: #555;
    position: absolute;
    top: 200px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 28px;
    width: 95%;
    height: 50%;
    margin: 10px;
    padding: 10px;
}
input
{
    width: 150px;
    height: 25px;
    font-size: 24px;
    font-family: Consolas;
}
.Btn00
{
    color: whitesmoke;
    background: #555;
    text-decoration: none;
    font-family: monospace;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid black;
    height: 50px;
    cursor: pointer;
}
.Btn00:hover
{
    background: #969696;
}
footer
{
    background: #505050;
    color: white;
    font-family: monospace;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: -200px;
    width: 97.9%;
    height: 15%;
    display: flex;     
    flex-direction: row;   
    justify-content: space-around;         
    align-items: center;
}
footer a 
{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
footer p 
{
    display: inline-block;    
    margin: 0;
}
</style>
<body>
    <!-- HEADER -->
    <div class="header1">
        <a asp-page="/Index">
            <img class="mainImg" style="width: 200px;" src="~/images/catalog of escape rooms.png" alt="Catalog of Escape Rooms">
        </a>
        <select class="BookNowMain" id="myBookNowMain">
            <option value="" disabled selected>BOOK NOW</option>
            <option value="kr1">Kryvyi Rih 1</option>
            <option value="kr2">Kryvyi Rih 2</option>
            <option value="prvt">PRIVATE ESCAPE ROOMS</option>
        </select>
        <select class="EscapeRoomsMain" id="myEscapeRoomsMain">
            <option value="" disabled selected>ESCAPE ROOMS</option>
            <!-- Rooms Here -->
        </select>
        <select class="GroupsMain" id="myGroupsMain">
            <option value="" disabled selected>GROUPS</option>
            <option value="gsPT">GROUPS & PARTIES</option>
            <option value="tmBG">TEAM BUILDING</option>
        </select>
        <a asp-page="/ROOMS11/QuestList" class="oth1">QUEST ROOM LIST</a>
        <a asp-page="/ROOMS11/FAQ" class="oth2">FAQ</a>
        <a asp-page="/ROOMS11/Cards" class="oth3">GIFT CARDS</a>
        <a asp-page="/ROOMS11/Contact" class="oth4">CONTACT US</a>
    </div>
    <hr class="line1">
    <!-- CreateRoom -->
    <!-- FOOTER -->
    <footer>
        <p>
            Escape Room Kryvyi Rih 1 <br>
            440 N 4th St #290 <br>
            St. Kr1, MO 63102 <br>
            Get Directions | Book Now <br>
            314-690-3356
        </p>
        <p>
            Escape Room Kryvyi Rih 2 <br>
            219 N 8th St #310 <br>
            St. Kr2, MO 32562 <br>
            Get Directions | Book Now <br>
            346-745-7269
        </p>
    </footer>
</body>
</html>