@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Room Kryvyi Rih | Catalog of Escape Rooms</title>
</head>
<style>
body
{
    background: black;
}
.mainImg
{
    position: absolute;
    left: 100px;
    top: 10px;
    cursor: pointer;
}
.BookNowMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 550px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 160px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.BookNowMain:focus 
{
    outline: none;
}
.EscapeRoomsMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 335px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 205px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.EscapeRoomsMain:focus 
{
    outline: none;
}
.GroupsMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 195px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 130px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.GroupsMain:focus 
{
    outline: none;
}
.line1
{
    position: absolute;
    width: 99.9%;
    top: 100px;
    color: white;
}
.oth1
{
    text-decoration: none;
    position: absolute;
    right: 600px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth1:hover
{
    color: #FFC300;
}
.oth2
{
    text-decoration: none;
    position: absolute;
    right: 450px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth2:hover
{
    color: #FFC300;
}
.oth3
{
    text-decoration: none;
    position: absolute;
    right: 330px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth3:hover
{
    color: #FFC300;
}
.oth4
{
    text-decoration: none;
    position: absolute;
    right: 200px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth4:hover
{
    color: #FFC300;
}
.txtInfoMain
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 68px;
    color: white;
    z-index: 0;
}
.txtCommMain
{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    color: #FFC300;
    z-index: 0;
}
.txtCommMain1
{
    font-style: italic;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 22px;
    color: white;
    z-index: 0;
}
.txtCommMain2
{
    font-family: monospace;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    color: white;
    z-index: 0;
}
.logoMain
{
    width: 70px;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    filter: invert(100%);
}
.orangeBox
{
    background: #FFC300;
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 10px;
}
.txtTitleOrange
{
    position: absolute;
    left: 284px;
    font-size: 18px;
    font-weight: bold;
}
.takenLink
{
    position: absolute;
    top: 17px;
    left: 450px;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
.diamondHeistLink
{
    position: absolute;
    top: 17px;
    left: 530px;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
.davinciWorkLink
{
    position: absolute;
    top: 17px;
    left: 700px;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
.secretSocLink
{
    position: absolute;
    top: 17px;
    left: 930px;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
.stadScareLink
{
    position: absolute;
    top: 17px;
    left: 1100px;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
.cursCatsleLink
{
    position: absolute;
    top: 17px;
    left: 1270px;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
.shedLink
{
    position: absolute;
    top: 17px;
    left: 1440px;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
.creepLairLink
{
    position: absolute;
    top: 50px;
    left: 450px;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
.homeAloneLink
{
    position: absolute;
    top: 50px;
    left: 590px;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
.merryGrinchLink
{
    position: absolute;
    top: 50px;
    left: 740px;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
.elfEscLink
{
    position: absolute;
    top: 50px;
    left: 950px;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
.txtFilterOrange
{
    position: absolute;
    left: 350px;
    bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.checkBox1Main
{
    font-family: monospace;
    position: absolute;
    left: 445px;
    bottom: 28px;
    font-size: 18px;
    font-weight: bold;
}
</style>
<body>
    <!-- HEADER -->
    <div class="header1">
        <a asp-page="/Index">
            <img class="mainImg" style="width: 200px;" src="~/images/catalog of escape rooms.png" alt="Catalog of Escape Rooms">
        </a>
        <select class="BookNowMain" id="myBookNowMain">
            <option value="" disabled selected>BOOK NOW</option>
            <option value="kr1">Kryvyi Rih 1</option>
            <option value="kr2">Kryvyi Rih 2</option>
            <option value="prvt">PRIVATE ESCAPE ROOMS</option>
        </select>
        <select class="EscapeRoomsMain" id="myEscapeRoomsMain">
            <option value="" disabled selected>ESCAPE ROOMS</option>
            <!-- Rooms Here -->
        </select>
        <select class="GroupsMain" id="myGroupsMain">
            <option value="" disabled selected>GROUPS</option>
            <option value="gsPT">GROUPS & PARTIES</option>
            <option value="tmBG">TEAM BUILDING</option>
        </select>
        <a asp-page="/ROOMS11/QuestList" class="oth1">QUEST ROOM LIST</a>
        <a href="faq.html" class="oth2">FAQ & PARKING</a>
        <a href="gift.html" class="oth3">GIFT CARDS</a>
        <a href="contact.html" class="oth4">CONTACT US</a>
    </div>
    <hr class="line1">
    <!-- Text Main -->
    <h1 class="txtInfoMain">EXPERIENCE THE #1-RATED ESCAPE <br> ROOM IN KRYVYI RIH</h1>
    <h1 class="txtCommMain">"I’ve done two rooms (Diamond Heist and Da Vinci), and I had SO. MUCH. FUN."</h1>
    <h1 class="txtCommMain1">~ kata569 on TripAdvisor</h1>
    <img src=";/images/logo.png" alt="logoMain" class="logoMain">
    <h1 class="txtCommMain2">#1 Trip Advisor Rated Escape Room in Kryvyi Rih</h1>
    <!-- Orange Info Rooms -->
    <div class="orangeBox">
        <p class="txtTitleOrange">ESCAPE ROOMS:</p>
        <!-- Actual Quests Here -->
        <p class="txtFilterOrange">Filter By:</p>
        <div class="checkBox1Main">
            <input type="checkbox" id="Kr1">
            <label for="myCheckbox">Kryvyi Rih 1</label>
            <input type="checkbox" id="Kr2">
            <label for="myCheckbox">Kryvyi Rih 2</label>
        </div>
    </div>   
</body>
</html>